Source: ngcp-www-csc
Section: admin
Priority: extra
Maintainer: Sipwise Development Team <support@sipwise.com>
Build-Depends: debhelper (>= 5),
               libtemplate-perl
Standards-Version: 3.9.3
Homepage: http://sipwise.com/

Package: ngcp-templates-ce-www-csc
Architecture: all
Depends: ${misc:Depends},
         ${shlibs:Depends}
Conflicts: ngcp-templates-pro-www-csc
Provides: ngcp-templates-www-csc
Description: Configuration templates for the web-based CSC interface
 The package contains configuration file templates for the customer
 webinterface.

Package: ngcp-templates-pro-www-csc
Architecture: all
Depends: ${misc:Depends},
         ${shlibs:Depends}
Conflicts: ngcp-templates-ce-www-csc
Provides: ngcp-templates-www-csc
Description: Configuration templates for the web-based CSC interface
 The package contains configuration file templates for the customer
 webinterface.

Package: ngcp-www-csc
Architecture: all
Pre-Depends: apache2.2-common,
             nginx-common
Depends: gettext,
         libcatalyst-modules-perl,
         libcatalyst-perl,
         libfcgi-procmanager-perl,
         liblocale-maketext-lexicon-perl,
         librpc-xml-perl,
         ngcp-ossbss-billing (>= 2.0.2),
         ngcp-ossbss-voip (>= 3.0.0),
         ngcp-templates-www-csc,
         ${misc:Depends},
         ${shlibs:Depends}
Description: frontend for endusers to configure their accounts on the Sipwise NGCP
  The CSC framework is used by endusers to configure their accounts on the
  Sipwise NGCP.
