Source: ngcp-www-csc
Section: admin
Priority: extra
Maintainer: Michael Prokop <mprokop@sipwise.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.8.3
Homepage: http://sipwise.com/
Vcs-svn: https://dev.sipwise.com/svn/www_csc
Vcs-Browser: https://dev.sipwise.com/svn/www_csc

Package: ngcp-www-csc
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ngcp-ossbss-billing (>= 2.0.2), ngcp-ossbss-voip (>= 2.0.2), libcatalyst-perl, libcatalyst-modules-perl, libcatalyst-engine-apache-perl, librpc-xml-perl
Suggests: liblocale-maketext-lexicon-perl
Description: frontend for endusers to configure their accounts on the Sipwise NGCP
  The csc framework is used by endusers to configure their accounts on the
  Sipwise NGCP.
