#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

b=$(CURDIR)/debian/build
VERSION:=$(shell dpkg-parsechangelog | awk '/Version: / { print $$2 }')

build: build-stamp

build-stamp:
	dh_testdir
	egrep -q "VERSION = 'UNRELEASED'" lib/csc.pm || \
                          (echo "Wrong version in lib/csc.pm" && exit 2)
	mkdir -p pro/etc/default pro/etc/ngcp-www-csc pro/etc/nginx/sites-available \
	  pro/etc/init.d
	mkdir -p ce/etc/default ce/etc/ngcp-www-csc ce/etc/nginx/sites-available \
	  ce/etc/init.d
	tpage --define PRO=true   etc/csc.conf > pro/etc/ngcp-www-csc/csc.conf.tt2
	tpage                     etc/csc.conf > ce/etc/ngcp-www-csc/csc.conf.tt2
	tpage --define PRO=true   etc/csc.conf.services > pro/etc/ngcp-www-csc/csc.conf.services
	tpage                     etc/csc.conf.services > ce/etc/ngcp-www-csc/csc.conf.services
	tpage --define PRO=true   etc/nginx.site > pro/etc/nginx/sites-available/ngcp-www-csc.tt2
	tpage                     etc/nginx.site > ce/etc/nginx/sites-available/ngcp-www-csc.tt2
	tpage --define PRO=true   etc/nginx.site.services > pro/etc/nginx/sites-available/ngcp-www-csc.services
	tpage                     etc/nginx.site.services > ce/etc/nginx/sites-available/ngcp-www-csc.services
	tpage --define PRO=true   etc/default > pro/etc/default/ngcp-www-csc.tt2
	tpage                     etc/default > ce/etc/default/ngcp-www-csc.tt2
	tpage --define PRO=true   etc/default.services > pro/etc/default/ngcp-www-csc.services
	tpage                     etc/default.services > ce/etc/default/ngcp-www-csc.services
	tpage --define PRO=true   etc/ngcp-www-csc > pro/etc/init.d/ngcp-www-csc.tt2
	tpage                     etc/ngcp-www-csc > ce/etc/init.d/ngcp-www-csc.tt2
	tpage --define PRO=true   etc/ngcp-www-csc.services > pro/etc/init.d/ngcp-www-csc.services
	tpage                     etc/ngcp-www-csc.services > ce/etc/init.d/ngcp-www-csc.services
	touch $@

clean: 
	dh_testdir
	dh_testroot
	rm -f build-stamp
	rm -rf $(b) pro ce
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

ngcp-www-csc:
	@echo "--- Building: $@"
	dh_installdirs       -p$@ -P$(b)/$@
	dh_installdocs       -p$@ -P$(b)/$@
	dh_installchangelogs -p$@ -P$(b)/$@
	dh_install           -p$@ -P$(b)/$@
	sed -i -e "s/VERSION = 'UNRELEASED'/VERSION = '$(VERSION)'/" $(b)/$@/usr/share/ngcp-www-csc/lib/csc.pm
	dh_installexamples   -p$@ -P$(b)/$@
	dh_installman        -p$@ -P$(b)/$@
	dh_installinit       -p$@ -P$(b)/$@
	dh_link              -p$@ -P$(b)/$@
	dh_strip             -p$@ -P$(b)/$@
	dh_compress          -p$@ -P$(b)/$@
	dh_fixperms          -p$@ -P$(b)/$@
	#dh_perl              -p$@ -P$(b)/$@
	dh_makeshlibs        -p$@ -P$(b)/$@ -V
	dh_installdeb        -p$@ -P$(b)/$@
	dh_shlibdeps         -p$@ -P$(b)/$@
	dh_installdebconf    -p$@ -P$(b)/$@
	dh_gencontrol        -p$@ -P$(b)/$@
	dh_md5sums           -p$@ -P$(b)/$@
	dh_builddeb          -p$@ -P$(b)/$@

ngcp-templates-ce-www-csc:
	@echo "--- Building: $@"
	dh_installdirs       -p$@ -P$(b)/$@
	dh_link              -p$@ -P$(b)/$@
	dh_installdocs       -p$@ -P$(b)/$@
	dh_installchangelogs -p$@ -P$(b)/$@
	dh_install           -p$@ -P$(b)/$@
	dh_strip             -p$@ -P$(b)/$@
	dh_compress          -p$@ -P$(b)/$@
	dh_fixperms          -p$@ -P$(b)/$@
	dh_makeshlibs        -p$@ -P$(b)/$@ -V
	dh_installdeb        -p$@ -P$(b)/$@
	dh_shlibdeps         -p$@ -P$(b)/$@
	dh_installdebconf    -p$@ -P$(b)/$@
	dh_gencontrol        -p$@ -P$(b)/$@
	dh_md5sums           -p$@ -P$(b)/$@
	dh_builddeb          -p$@ -P$(b)/$@

ngcp-templates-pro-www-csc:
	@echo "--- Building: $@"
	dh_installdirs       -p$@ -P$(b)/$@
	dh_link              -p$@ -P$(b)/$@
	dh_installdocs       -p$@ -P$(b)/$@
	dh_installchangelogs -p$@ -P$(b)/$@
	dh_install           -p$@ -P$(b)/$@
	dh_strip             -p$@ -P$(b)/$@
	dh_compress          -p$@ -P$(b)/$@
	dh_fixperms          -p$@ -P$(b)/$@
	dh_makeshlibs        -p$@ -P$(b)/$@ -V
	dh_installdeb        -p$@ -P$(b)/$@
	dh_shlibdeps         -p$@ -P$(b)/$@
	dh_installdebconf    -p$@ -P$(b)/$@
	dh_gencontrol        -p$@ -P$(b)/$@
	dh_md5sums           -p$@ -P$(b)/$@
	dh_builddeb          -p$@ -P$(b)/$@

binary-all: build install

binary-indep: build install ngcp-www-csc \
	ngcp-templates-ce-www-csc ngcp-templates-pro-www-csc

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
