<a href="/callforward/mapping"><span class="button-transfer">[% Catalyst.loc('Mapping') %]</span></a>
<br>
<a href="/callforward/destination"><span class="button-transfer">[% Catalyst.loc('Destination sets') %]</span></a>
<br>
<a href="/callforward/time"><span class="button-clock">[% Catalyst.loc('Time sets') %]</span></a>
