[% META title = 'internal error' %]

  <div id="headimg">
    <img src="/grafik/area.jpg" width="869" height="69" alt="" />
  </div>
  <div id="headtxt">Ein Fehler ist aufgetreten.</div>

  <div id="main">

    <br><br>
    Ein interner Fehler ist aufgetreten.
    Bitte versuchen Sie es später noch einmal,
    oder kontaktieren Sie den <a href="[% Catalyst.config.site_config.company.webserver %]">Support</a>.
    <br><br><br>

  </div><br clear="all" />
